*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
/*======================== Navbat start ===========================*/
.navbar{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    height: 70px;
    margin-bottom: 120px;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
/* .navbar__list_item{    
    
} */
.navabr__link{
    text-decoration: none;
    color: #636769;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;      
    border-radius: 10px;
    padding: 10px 20px;
}
.navabr__link:hover{   
    background-color: #6157AB; 
    color: white;
}
/*======================== Navbat end ===========================*/
/* ====================Section hero start  ====================*/
.hero__inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main_title{
    width: 616px;
font-weight: 400;
font-size: 64px;
line-height: 70px;
letter-spacing: 1px;
color: #363B3D;
margin-bottom: 25px;
}
.hero_text{
    width: 599px;
    font-weight: 400;
font-size: 20px;
line-height: 34px;
margin-bottom: 25px;    
letter-spacing: 0.05px;
color: #636769;
}
.more_info{
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.link{    
font-size: 18px;
line-height: 30px;
letter-spacing: 0.5px;
text-transform: capitalize;
color: #6157AB;
padding: 10px 13px;
text-decoration: none;

}

.link:hover{
    color: white;
    font-weight: 400;
    background-color: #6157AB;
    border-radius: 15px;
    text-decoration: lightcyan;
}
.hero__logo{
    margin-top: 20px;
}
.logo_title{
    padding: 20px 10px;
    font-size: 11px;
line-height: 16px;
letter-spacing: 2px;
text-transform: uppercase;
color: #96979A;
}
.logo_list{
    width: 590px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_img{
    margin-top: 50px;   
    width: 500px;
}
/* ====================Section hero end  ====================*/

/* ====================Section empovr start  ====================*/
.empovy{
    background-color: #F5F4F2;
}
.empovy__inner{
    width: 100%;
    padding: 40px 20px;    
}
.empovy_title{
    text-align: center;
    font-weight: 400;
font-size: 52px;
line-height: 65px;
text-align: center;
letter-spacing: 0.675px;
color: #333333
}
.empovy_list{
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.empovy_link{
    text-decoration: none;
    font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 2.32px;
text-transform: uppercase;
color: #7A858A;
border: 1px solid silver;
padding: 10px 15px;
background-color: white;
}
/* ====================Section empovr end  ====================*/

/* ====================Section hero start  ====================*/
/* ====================Section hero end  ====================*/
/* ====================Section hero start  ====================*/
/* ====================Section hero end  ====================*/
/* ====================Section hero start  ====================*/
/* ====================Section hero end  ====================*/
/* ====================Section hero start  ====================*/
/* ====================Section hero end  ====================*/